
config ARCH_ANY
    bool
    default y
    select DEFAULT_ANYOS
    select IS_ASTOOL

config ARCH
    string
    default "host"

config ASLIB
    bool
    default y

config DET
    bool
    default y
