menu "libraries"

config IFX
	bool "Interpolation Fixed point"
	default y

config FDT
	bool "flat device tree library"
	default y

config TRACE
	bool "enable the trace library"
	default n

config ARMNN
	bool "enable ARM CMSIS NN library"
	default n

endmenu
