menu "AI libraries for Microcontrollers"

config ARMNN
	bool "enable ARM CMSIS NN library"
	default n

config NNOM
	bool "enable Neural Network on Microcontroller"
	default y
	depends on ARMNN

config KWS
	bool "Keyword spotting for Microcontrollers"
	default y
	depends on ARMNN

endmenu
