menu "AUTOSAR Diagnostic Stack"

config DCM
	bool "Diagnostic Communication Manager"
	depends on PDUR
	default y

config DCM_MINI
	bool "mini Diagnostic Communication Manager"
	depends on DCM
	default n

config DEM
	bool "Diagnostic Event Manager"
	depends on NVM
	default y

config DET
	bool "Development Error Trace"
	default y

endmenu
